<div class="pk5e-helpers-menu__content">
	<h3 class="pk5e-helpers-menu__title">Helpers Menu</h3>
	<p class="pk5e-helpers-menu__subtitle">Here you will find all the helpers designed to adapt documents from older versions (actors, items, compendiums) to the latest versions, automatically updating them with the latest changes and improvements from the module.</p>

	<div class="pk5e-helpers-menu__buttons-container">
		{{#each helpers}}
			<button class="pk5e-helpers-menu__button" type="button" data-action="{{this.action}}"
			{{#if this.disabled}}disabled data-tooltip="Coming Soon" data-tooltip-direction="UP"{{/if}}>
				<i class="{{this.icon}}"></i>
				{{this.label}}
			</button>
		{{/each}}
	</div>
</div>