<div class="pk5e-npc-hp-fixer__content">
	<h3 class="pk5e-npc-hp-fixer__title">NPC HP FIXER</h3>
	<p class="pk5e-npc-hp-fixer__subtitle">Pequeña descripción del fixer.</p>

	<button type="submit">Soy el botón de envío del formulario</button>
</div>