<div class="content-part">
	{{!-- Intro View --}}
	{{#if views.intro.active}}
	<div class="view intro-view">
		<h3 class="title">Corrector de Actualizado de HP de Pokémon</h3>
		<p class="subtitle">Antes de la 0.11, muchos pokémon del módulo no actualizaban su hp cuando se cambiaba su modificador de constitución.<br/>Este corrector realiza los ajustes necesarios dentro de los actores npc de los pokémon para que la actualización de su hp sí funcione según se cambie su modificador de constitución.</p>

		<div class="button-container">
			<button class="button" data-action="moveToActorsSelectionView">
				Seleccionar los pokémon npc a corregir
				<i class="fa-solid fa-arrow-right"></i>
			</button>
		</div>
	</div>
	{{/if}}

	{{!-- Actors Selection View --}}
	{{#if views.actorsSelection.active}}
	<div class="view actors-selection-view">
		{{!-- Drop Tab --}}
		<section class="tab {{#if tabs.drop.active}}active{{/if}} drop-tab" data-group="content" data-tab="drop">
			<div class="drop-zone">
				<div class="drop-info">
					<i class="icon fa-light fa-folder-arrow-up"></i>
					<h3 class="text">Arrastra y suelta aquí tus actores npc pokémon<br/>(también carpetas o compendios)</h3>
				</div>
			</div>
		</section>

		{{!-- Actors Tab --}}
		<section class="tab {{#if tabs.actors.active}}active{{/if}}" data-group="content" data-tab="actors">Sección de Actores</section>

		{{!-- Compendiums Tab --}}
		<section class="tab {{#if tabs.compendiums.active}}active{{/if}}" data-group="content" data-tab="compendiums">Sección de Compendios</section>
	</div>
	{{/if}}

	{{!-- Loading Overlay --}}
	{{#if isLoading}}
	<div class="loading-overlay">
		<div class="spinner">
			<i class="fa-solid fa-spinner-third fa-spin fa-10x"></i>
		</div>
	</div>
	{{/if}}
</div>