<div class="header-part">
	{{#if views.actorsSelection.active}}
	<nav class="tabs-container">
		<button class="{{#if tabs.drop.active}}active{{/if}}" type="button" data-action="selectTab" data-tab="drop">
			<i class="fa-solid fa-hand"></i>
			Drop
		</button>
		<button class="{{#if tabs.actors.active}}active{{/if}}" type="button" data-action="selectTab" data-tab="actors">
			<i class="fa-solid fa-user"></i>
			Actors
		</button>
		<button class="{{#if tabs.compendiums.active}}active{{/if}}" type="button" data-action="selectTab" data-tab="compendiums">
			<i class="fa-solid fa-book-atlas"></i>
			Compendiums
		</button>
	</nav>
	{{/if}}
</div>