<div class="content-part">
	{{!-- Intro View --}}
	{{#if views.intro.active}}
	<div class="view intro-view">
		<h3 class="title">Pokémon HP Update Fixer</h3>
		<p class="subtitle">Before version 0.11, many Pokémon in the module did not update their HP when their Constitution modifier was changed.<br/>This fixer applies the necessary adjustments inside the Pokémon NPC actors so that HP updates correctly whenever the Constitution modifier is changed.</p>

		<div class="button-container">
			<button class="button" data-action="moveToActorsSelectionView">
    			Select the Pokémon NPCs to fix
				<i class="fa-solid fa-arrow-right"></i>
			</button>
		</div>

		<video class="video" controls>
			<source src="modules/pokemon5e/extras/fixed-hp-example.mp4" type="video/mp4">
		</video>
	</div>
	{{/if}}

	{{!-- Actors Selection View --}}
	{{#if views.actorsSelection.active}}
	<div class="view actors-selection-view">
		{{!-- Drop Tab --}}
		<section class="tab drop-tab {{#if tabs.drop.active}}active{{/if}}" data-group="content" data-tab="drop">
			<div class="drop-zone">
				<div class="drop-info">
					<i class="icon fa-light fa-folder-arrow-up"></i>
					<h3 class="text">Drag and drop your Pokémon NPC actors here<br/>(folders and compendiums also supported)</h3>
				</div>
			</div>
		</section>

		{{!-- Actors Tab --}}
		<section class="tab actors-tab {{#if tabs.actors.active}}active{{/if}}" data-group="content" data-tab="actors">
			{{> pk5e-file-explorer
				tabData=actorsTab
				rootLabel="Actors Tab"
				emptyRootIconClass="fa-duotone fa-regular fa-folder-open"
				emptyRootMsg="The Actor Sidebar is empty"
				emptyFolderMsg="This folder is empty"
			}}
		</section>

		{{!-- Compendiums Tab --}}
		<section class="tab compendiums-tab {{#if tabs.compendiums.active}}active{{/if}}" data-group="content" data-tab="compendiums">
            {{> pk5e-file-explorer
                tabData=compendiumsTab
                rootLabel="Compendiums Tab"
                emptyRootIconClass="fa-duotone fa-regular fa-book-open-reader"
                emptyRootMsg="The Compendiums Sidebar is empty"
                emptyFolderMsg="This folder is empty"
                emptyCompendiumMsg="This compendium is empty"
            }}
		</section>
	</div>
	{{/if}}

	{{!-- Loading Overlay --}}
	<div class="loading-overlay">
		<div class="spinner">
			<i class="fa-solid fa-spinner-third fa-spin fa-10x"></i>
		</div>
	</div>
</div>